.border-box {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}
.row {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

#my_file {
  display: none;
}

#get_file {
  background: #f9f9f9;
  border: 1px solid #88c;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
#customfileupload {
  display: inline;
  background: #fff;
  font-size: 14px;
  padding: 10px 30px 10px 10px;
  border: 1px solid #999;
  box-shadow: inset 1px 1px 5px #ccc;
  -webkit-box-shadow: inset 1px 1px 5px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  -ms-box-shadow: inset 0px 0px 4px #ccc;
  -o-box-shadow: inset 0px 0px 4px #ccc;
}
