<div class="container">
    <div class="row">
        <div class=" column  col-md-7">
            <label>Config File Path *</label>
            <input class="form-control" type="string" [(ngModel)]="configPath" value="Choose File" id="config-path" required>

        </div>
        <div class=" column col-md-4">
            <label>File Select</label>
            <input class="form-control" [(ngModel)]="xmlFileName" type="text" value="Choose File" onclick="javascript:document.getElementById('file').click();">
            <input id="file" type="file" style='visibility: hidden;' (change)="fileSelector($event)" />
        </div>

        <div class="column col-md-1">
            <button class="button btn-secondary" id="btn-get" (click)="onGetFile()">Get File</button>
        </div>

    </div>
    <json-schema-form [schema]="configSchema" [(ngModel)]="formData" [layout]="configSchema.layout" framework="bootstrap-4" (onSubmit)="onSubmit($event)">
    </json-schema-form>
    <button class="btn btn-primary" id="btn-update" [disabled]="!xmlFileName" (click)="onUpdate(formData)">Update</button>
    <button class="btn btn-primary" (click)="onCancel()">Cancel</button>

</div>