<div class="container">
    <div class="row">
        <div class=" column  col-md-7">
            <label>Config File Path *</label>
            <input class="form-control" type="string" [(ngModel)]="configPath" id="config-file-path" required>

        </div>
        <div class=" column col-md-3">
            <label *ngIf="configPath">Update Existing File</label>
            <input class="form-control" *ngIf="configPath" id="xml-file-name" placeholder="Click to Browse Files" [(ngModel)]="xmlFileName" type="string"
                readonly onclick="javascript:document.getElementById('file').click();">
        </div>
        <div class=" row2 col-md-1">
            <button class="btn btn-primary" *ngIf="configPath" (click)= "onClearFile($event)" id="btn btn-primary">Clear</button>
            <input id="file" type="file" (change)="fileSelector($event)" />
        </div>

        <div class="column col-md-1">
            <button class="button btn-secondary" ng-class="{'diabled-class': !PayoutEnabled}" [disabled]="!xmlFileName" id="btn-get"
                (click)="onGetFile()">Get File</button>
        </div>
    </div>
    <json-schema-form [schema]="configSchema" [(ngModel)]="formData" [layout]="configSchema.layout" framework="bootstrap-4" (onSubmit)="onSubmit($event)">
    </json-schema-form>
    <button class="btn btn-primary" id="btn-update" [disabled]="!xmlFileName" (click)="onUpdate(formData)">Update</button>
    <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
</div>