<div class="form-group">


    <label>
        Test Case Directory
        <input #myFileSelector type="file" id="testCaseDirectory" required [(ngModel)]="outputPaths.testCaseDirectory" (modelChange)="formChanged()"
            name="testCaseDirectory" #testCaseDirectory="ngModel">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>
<div class="form-group">
    <label>Test Suite Directory
        <input #myFileSelector type="file" required [(ngModel)]="outputPaths.testSuiteDirectory" (modelChange)="formChanged()" name="testSuiteDirectory"
            #testSuiteDirectory="ngModel">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>
<div class="form-group">
    <label>Base State Directory
        <input #myFileSelector type="file" required [(ngModel)]="outputPaths.baseStateDirectory" (modelChange)="formChanged()" name="baseStateDirectory"
            #baseStateDirectory="ngModel">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>
<div class="form-group">
    <label>Reports Directory
        <input #myFileSelector type="file" required [(ngModel)]="outputPaths.reportsDirectory" (modelChange)="formChanged()" name="reportsDirectory"
            #reportsDirectory="ngModel">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>