<div class="form-group">
    <label>
        Test Case Directory
        <input #myFileSelector type="file">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>
<div class="form-group">
    <label>Test Suite Directory
        <input #myFileSelector type="file">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>
<div class="form-group">
    <label>Base State Directory
        <input #myFileSelector type="file">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>
<div class="form-group">
    <label>Reports Directory
        <input #myFileSelector type="file">
        <span *ngFor="let file of myFileSelector.files"></span>
    </label>
</div>