.row {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}
.button-row {
  margin-top: 25px;
}
.column {
  padding: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 25px;
  padding-right: 0px;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.btn {
  margin-bottom: 25px;
}
fieldset {
  display: none;
}
submit-widget {
  display: none;
}

h1{
  font-family: arial, sans-serif;
  font-weight: bold;
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
}


.load-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
}