<div class="container">
    <div class="row">
        <label>Test Suite Directory</label>
        <input class="form-control" type="string" [(ngModel)]="testSuitePath" required>
    </div>

    <div class="row">
        <div class="column col-md-4">
            <button class="btn btn-primary " (click)="onAdd()" (click)="getTestCases()">Add</button>
            <table>
                <tr>
                    <th>Name </th>
                    <th>Description</th>
                </tr>
                <tr *ngFor="let testSuite of testSuites; let i = index" [class.highlighted]="testSuite" (click)="onSelectSuite(testSuite, i)">
                    <td>{{testSuite.name}}</td>
                    <td>{{testSuite.description}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-8">
            <div class="row">
                <json-schema-form 
                [schema]="testSuiteSchema" 
                [(ngModel)]="testSuiteData" 
                framework="bootstrap-4">
                </json-schema-form>


                <app-test-cases-selection 
                    (onSelectSuite)="onSelectSuite($event, $event)" 
                    (reverse)="onReverse($event)" 
                    (addToSelected)="updateSelected($event)"
                    [selectedTestCaseData]="selectedTestCaseData" 
                    [availableTestCases]="testCases" 
                    [testSuiteDirPath]="testSuitePath">
                </app-test-cases-selection>

                <div class="button-row">
                    <button class="btn btn-secondary push-right" *ngIf="testSuiteFileName" (click)="onUpdate(testSuiteData)">Update</button>
                    <button class="btn btn-secondary push-right" *ngIf="!testSuiteFileName" (click)="onSave(testSuiteData)">Save</button>
                    <button class="btn btn-secondary " (click)="onCancel()">Cancel</button>
                </div>

            </div>
        </div>
</div>