<div class="container">
    <div class="row">
        <label>Test Suite Directory</label>
        <input class="form-control" type="string" [(ngModel)]="testSuitePath" required>
    </div>


    <div class="row">

        <div class="column col-md-4">
            <button class="btn btn-primary " (click)="onAdd()" (click)="getTestCases()">Add</button>
            <button class="btn btn-primary " (click)="onDelete()">Delete</button>
            <table>
                <tr>
                    <th>Name </th>
                    <th>Description</th>
                </tr>
                <tr *ngFor="let testSuite of testSuiteData">
                    <td>{{testSuite.name}}</td>
                    <td>{{testSuite.description}}</td>
                </tr>
            </table>
        </div>
        <div class=" col-md-8">
            <div class="row">
                <json-schema-form [schema]="testSuiteSchema" framework="bootstrap-4">
                </json-schema-form>
                <div class="col-md-5">
                    <h3>Available</h3>
                    <table>
                        <tr>
                            <th>Name </th>
                            <th>Description</th>
                            <th>Http Method</th>
                        </tr>
                        <tr *ngFor="let testCase of testCaseData">
                            <td>{{testCase.name}}</td>
                            <td>{{testCase.description}}</td>
                            <td>{{testCase.httpMethod}}</td>
                        </tr>
                    </table>
                </div>
                <div class="button-row col-md-1">
                    <button class="btn btn-primary" (click)="onSelectAll()">>></button>
                    <button class="btn btn-primary" (click)="onSelectOne()">></button>
                    <button class="btn btn-primary" (click)="onReverseOne()">
                        < </button>
                            <button class="btn btn-primary" (click)="onReverseAll()">
                                << </button>
                </div>
                <div class="col-md-6">
                    <h3>Selected</h3>
                    <table>
                        <tr>
                            <th>Name </th>
                            <th>Description</th>
                            <th>Http Method</th>
                        </tr>
                        <tr *ngFor="let testCase of selectedTestCaseData">
                            <td>{{testCase.name}}</td>
                            <td>{{testCase.description}}</td>
                            <td>{{testCase.httpMethod}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="button-row">
                <button class="btn btn-primary push-right" (click)="onCancel()">Cancel</button>
                <button class="btn btn-primary push-right" (click)="onSave(testSuiteData)">Save</button>
            </div>
        </div>
    </div>
</div>