<div>
    <table>
        <tr>
            <th>Description</th>
            <th>Pre Think</th>
            <th>Post Think</th>
            <th>Exec Weight</th>
        </tr>
        <tr *ngFor="let testCase of testCases; let i = index" [class.highlighted]="testCase" (click)="selectedCase(testCase, i)">
            <td>{{testCase.description}}</td>
            <td>{{testCase.preThinkTime}}</td>
            <td>{{testCase.postThinkTime}}</td>   
            <td>{{testCase.execWeight}}</td>
        </tr>  
    </table>
</div>
