<div class="container">
    <div class="row">
        <label>Test Case Directory</label>
        <input class="form-control" type="string" [(ngModel)]="testCasePath" required>
    </div>


    <div class="row">

        <div class="column col-md-4">
            <button class="btn btn-primary " (click)="onAdd()">Add</button>
            <button class="btn btn-primary " (click)="onDelete()">Delete</button>
            <table>
                <tr>
                    <th>Name </th>
                    <th>Description</th>
                    <th>Http Method</th>
                </tr>
                <tr *ngFor="let testCase of testCaseData  let i = index"  [class.highlighted]="testCase"  (click)="onSelectCase(testCase, i)">
                    <td>{{testCase.name}}</td>
                    <td>{{testCase.description}}</td>
                    <td>{{testCase.httpMethod}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">

            <json-schema-form ngDefaultControl [schema]="testCaseSchema" [(ngModel)]="testCaseData" [layout]="testCaseSchema.layout"
                framework="bootstrap-4">
            </json-schema-form>

            <div class="button-row">
                <button class="btn btn-primary push-right" (click)="onCancel()">Cancel</button>
                <button class="btn btn-primary push-right" (click)="onSave(testCaseData)">Save</button>
            </div>
        </div>
    </div>
</div>