<div class="container">

  <legend>Application Properties</legend>
  <div class="form-group">
    <label for="applicationName">Application Name
      <input type="text" class="form-control" id="applicationName" required [(ngModel)]="appProperties.applicationName" (modelChange)="formChanged()"
        name="applicationName" #applicationName="ngModel">
      <div [hidden]="applicationName.valid || applicationName.pristine" class="alert alert-danger">
        Application Name is required
      </div>
    </label>
  </div>
  <div class="form-group">
    <label for="targetHost">Target Host
      <input type="text" class="form-control" id="targetHost" required [(ngModel)]="appProperties.targetHost" name="targetHost"
        (modelChange)="formChanged()" #targetHost="ngModel">
      <div [hidden]="targetHost.valid || targetHost.pristine" class="alert alert-danger">
        Target Host is required
      </div>
    </label>
  </div>

  <div class="form-group">
    <label for="targetPort">Target Port
      <input type="number" class="form-control" id="targetPort" required [(ngModel)]="appProperties.targetPort" name="targetPort"
        (modelChange)="formChanged()" #targetPort="ngModel">
      <div [hidden]="targetPort.valid || targetPort.pristine" class="alert alert-danger">
        Target Port is required
      </div>
    </label>
  </div>

  <div class="form-group">
    <label for="memoryEndPoint">Memory Endpoint
      <input type="text" class="form-control" id="memoryEndPoint" required [(ngModel)]="appProperties.memoryEndPoint" name="memoryEndPoint"
        (modelChange)="formChanged()" #memoryEndPoint="ngModel">
      <div [hidden]="memoryEndPoint.valid || memoryEndPoint.pristine" class="alert alert-danger">
        Memory Endpoint is required
      </div>
    </label>
  </div>



</div>