<div class="row">
    <div class="col-md-5">
        <h3>Available</h3>
        <test-cases-list (addToSelected)="onAddToSelected($event)" [testCases]="availableTestCases"></test-cases-list>
    </div>
    <div class="col-md-2">

        <button class="btn btn-primary" (click)="selectAll()">>></button>
        <button class="btn btn-primary" (click)="selectOne()">></button>
        <button class="btn btn-primary" (click)="deSelectOne()">
            <</button>
                <button class="btn btn-primary" (click)="selectNone()">
                    <<</button>
    </div>
    <div class="col-md-5">
        <h3>Selected</h3>
        <test-cases-list (reverse)="onReverse($event)" [testCases]="selectedTestCaseData"></test-cases-list>
    </div>
</div>