<div class="container">

  <legend>Test Criteria</legend>

  <div class="row">
    <div class=" col-xs-6  col-sm-6  col-md-6  col-lg-6 ">
      <div class="form-group">
        <label for="numIterations">Num Iterations
          <input type="number" class="form-control" id="numIterations" required [(ngModel)]="testCriteria.numIterations" (modelChange)="formChanged()"
            name="numIterations" #numIterations="ngModel">
          <div [hidden]="numIterations.valid || numIterations.pristine" class="alert alert-danger">
            Num Iterations is required
          </div>
        </label>
      </div>
      <div class="form-group">
        <label for="concurrentUsers">Concurrent Users
          <input type="number" class="form-control" id="concurrentUsers" required [(ngModel)]="testCriteria.concurrentUsers" (modelChange)="formChanged()"
            name="concurrentUsers" #concurrentUsers="ngModel">
          <div [hidden]="concurrentUsers.valid || concurrentUsers.pristine" class="alert alert-danger">
            Concurrent Users is required
          </div>
        </label>
      </div>
      <div class="form-group">
        <label for="memoryVariance">Memory Variance (%)
          <input type="number" class="form-control" id="memoryVariance" required [(ngModel)]="testCriteria.memoryVariance" (modelChange)="formChanged()"
            name="memoryVariance" #memoryVariance="ngModel">
          <div [hidden]="memoryVariance.valid || memoryVariance.pristine" class="alert alert-danger">
            Memory Variance is required
          </div>
        </label>
      </div>
      <div class="form-group">
        <label for="serviceVariance">Service Variance (%)
          <input type="number" class="form-control" id="serviceVariance" required [(ngModel)]="testCriteria.serviceVariance" (modelChange)="formChanged()"
            name="serviceVariance" #serviceVariance="ngModel">
          <div [hidden]="serviceVariance.valid || serviceVariance.pristine" class="alert alert-danger">
            Service Variance is required
          </div>
        </label>
      </div>

    </div>

    <div class=" col-xs-6  col-sm-6  col-md-6  col-lg-6 ">

      <div class="form-group">
        <label for="requestDelay">Request Delay
          <input type="number" class="form-control" id="requestDelay" required [(ngModel)]="testCriteria.requestDelay" (modelChange)="formChanged()"
            name="requestDelay" #requestDelay="ngModel">
          <div [hidden]="requestDelay.valid || requestDelay.pristine" class="alert alert-danger">
            Request Delay is required
          </div>
        </label>
      </div>

      <div class="form-group">
        <label for="tpsFreq">TSP Frequency (s)
          <input type="number" class="form-control" id="tpsFreq" required [(ngModel)]="testCriteria.tpsFreq" (modelChange)="formChanged()"
            name="tpsFreq" #tpsFreq="ngModel">
          <div [hidden]="tpsFreq.valid || tpsFreq.pristine" class="alert alert-danger">
            TSP Frequency is required
          </div>
        </label>
      </div>

      <div class="form-group">
        <label for="rampUsers">Ramp Users
          <input type="number" class="form-control" id="rampUsers" required [(ngModel)]="testCriteria.rampUsers" (modelChange)="formChanged()"
            name="rampUsers" #rampUsers="ngModel">
          <div [hidden]="rampUsers.valid || rampUsers.pristine" class="alert alert-danger">
            Ramp Users is required
          </div>
        </label>
      </div>
      <div class="form-group">
        <label for="rampDelay">Ramp Delay (s)
          <input type="number" class="form-control" id="rampDelay" required [(ngModel)]="testCriteria.rampDelay" (modelChange)="formChanged()"
            name="rampDelay" #rampDelay="ngModel">
          <div [hidden]="rampDelay.valid || rampDelay.pristine" class="alert alert-danger">
            Ramp Delay is required
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="row col-xs-6  col-sm-6  col-md-6  col-lg-6 ">

    <div class="form-group">
      <label for="testSuite">Test Suites
        <input type="text" class="form-control" id="testSuite" required [(ngModel)]="testCriteria.testSuite" (modelChange)="formChanged()"
          name="testSuite" #testSuite="ngModel">
        <div [hidden]="testSuite.valid || testSuite.pristine" class="alert alert-danger">
          Test Suites is required
        </div>
      </label>
    </div>
  </div>
</div>